<div class="footer">
    <div class="">
        <span class='line'></span>
        <div class="download-apps">
            <a class='download-link' href="">
                <img id='download-img-appstore'
                    src="https://e-cdns-files.dzcdn.net/cache/images/unlogged/common/storebadges/appstore-badge-en-US.2928664fe1fc6aca88583a6f606d60ba.svg"
                    alt="Download with appstore">
            </a>
            <a class='download-link' href="">
                <img id='download-img-googleplay'
                    src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"
                    alt="Download with googeplay">
            </a>
        </div>
    </div>

    <div class="container cell-navigation">
        <div class="row">
            <div class="col-12 col-xl-3 col-md-3">
                <ul class="category-footer">
                    <li class="category-title-footer">Deezer</li>
                    <li class="category-item-footer">
                        <a href="" class="category-item-link-footer">Plans</a>
                    </li>
                    <li class="category-item-footer">
                        <a href="" class="category-item-link-footer">Features</a>
                    </li>
                    <li class="category-item-footer">
                        <a href="" class="category-item-link-footer">Devices</a>
                    </li>
                    <li class="category-item-footer">
                        <a href="" class="category-item-link-footer">Help</a>
                    </li>
                    <li class="category-item-footer">
                        <a href="" class="category-item-link-footer">About us</a>
                    </li>
                    <li class="category-item-footer">
                        <a href="" class="category-item-link-footer">Careers</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-xl-3 col-md-3">
                <ul class="category-footer">
                    <li class="category-title-footer">Explore</li>
                    <li class="category-item-footer">
                        <a href="" class="category-item-link-footer">All channels</a>
                    </li>
                    <li class="category-item-footer">
                        <a href="" class="category-item-link-footer">Charts</a>
                    </li>
                    <li class="category-item-footer">
                        <a href="" class="category-item-link-footer">Most popular release</a>
                    </li>
                    <li class="category-item-footer">
                        <a href="" class="category-item-link-footer">New releases</a>
                    </li>
                    <li class="category-item-footer">
                        <a href="" class="category-item-link-footer">Stay at home</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-xl-3 col-md-3">
                <ul class="category-footer">
                    <li class="category-title-footer">Who are we?</li>
                    <li class="category-item-footer">
                        <a href="" class="category-item-link-footer">Musicians and postcardters</a>
                    </li>
                    <li class="category-item-footer">
                        <a href="" class="category-item-link-footer">Developers</a>
                    </li>
                    <li class="category-item-footer">
                        <a href="" class="category-item-link-footer">Press</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-xl-3 col-md-3">
                <ul class="category-footer">
                    <li class="category-title-footer">Legal</li>
                    <li class="category-item-footer">
                        <a href="" class="category-item-link-footer">Legal information</a>
                    </li>
                    <li class="category-item-footer">
                        <a href="" class="category-item-link-footer">Terms and Conditions of Use</a>
                    </li>
                    <li class="category-item-footer">
                        <a href="" class="category-item-link-footer">Privacy Policy</a>
                    </li>
                    <li class="category-item-footer">
                        <a href="" class="category-item-link-footer">Cookies</a>
                    </li>
                    <li class="category-item-footer">
                        <a href="" class="category-item-link-footer">Modern Slavery Act</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container bottom">
            <div class="row bottom-row">
                <div class="col-xl-4 col-md-4 col-sm-12 connect-with-apps">
                    <ul class="connect-with-apps-list">
                        <li class="connect-with-apps-item">
                            <a href="" class="connect-with-apps-link">
                                <i class="connect-with-apps-icon fab fa-facebook-square"></i>
                            </a>
                        </li>
                        <li class="connect-with-apps-item">
                            <a href="" class="connect-with-apps-link">
                                <i class="connect-with-apps-icon fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="connect-with-apps-item">
                            <a href="" class="connect-with-apps-link">
                                <i class="connect-with-apps-icon fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="connect-with-apps-item">
                            <a href="" class="connect-with-apps-link">
                                <i class="connect-with-apps-icon fab fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-4 col-md-4 col-sm-12 footer__logo">
                    <a href="" id="footer__logo-deezer"></a>
                </div>
                <div class="col-xl-4 col-md-4 col-sm-12" id="legal">
                    <i class="far fa-copyright"></i>
                    <span>2021 Deezer</span>
                </div>
            </div>
        </div>
    </div>
</div>