<style>
    .footer {
        background: rgb(131, 58, 180);
        background: radial-gradient(circle, rgba(131, 58, 180, 1) 0%, rgba(171, 45, 184, 0.8886905103838411) 0%, rgba(139, 57, 177, 1) 0%, rgba(252, 69, 70, 0.5945728633250176) 100%, rgba(191, 252, 62, 0.8214636196275386) 100%, rgba(191, 252, 62, 0.8214636196275386) 100%);
    }
</style>

<div class="sign-out-navigation">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-signout">
        <a class="navbar-brand" href="/" id="header__logo-deezer-dark">
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <div class="navigation">
                    <li class="nav-item">
                        <a class="nav-item-link" href="#">Download</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item-link" href="#">Plans</a>
                    </li>
                </div>

                <div class="profile">
                    <li class="nav-item">
                        <a class="nav-item-btn" id="nav-item-btn-login" href="/login">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item-btn" id="nav-item-btn-signup" href="/register">Sign up</a>
                    </li>
                </div>
            </ul>
        </div>
    </nav>
</div>

<div class="signout-content">
    <div class="signout-content-form">
        <div class="signout-content-heading">
            <h3>Going somewhere?</h3>
            <p>Take your music with you on our mobile app. Just enter your phone number below and we'll text you a
                download link.</p>
        </div>
        <div class="signout-content-search">
            <input type="text" name="signout-content-search" id="signout-content-search" class="form-control" placeholder="Type here">
        </div>

        <button class="btn-login signout-content-btn">Get link</button>
    </div>
</div>